// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 400px;
  margin: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #fff;
  border-radius: 5px;
}

.card-content {
  padding: 3px 7px;
}

.card-image img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}